@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-pills .nav-link.active {
    background-color: #8080d8;
}

.nav-link {
    color: black;
}

#dropdownTabNav .nav-link {
    color: white;
}

.content-height {
    min-height: calc(100vh - 90px);
    max-height:max-content;
}

.valid {
    color: green;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
