@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background-color: #002254;
}
.nav-pills .nav-link.active {
    background-color: #FFCA36;
}

.nav-link {
    color: black;
}

a.nav-link {
    color: white;
}

#dropdownTabNav .nav-link {
    color: white;
}

.content-height {
    min-height: calc(100vh - 168px);
    max-height: max-content;
}

.valid {
    color: green;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
