@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    background-color: #002254;
}
.nav-pills .nav-link.active {
    background-color: #FFCA36;
}

.nav-link {
    color: black;
}

a.nav-link {
    color: white;
}

#dropdownTabNav .nav-link {
    color: white;
}

.content-height {
    min-height: calc(100vh - 168px);
    max-height: max-content;
}

.valid {
    color: green;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='yellow'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='yellow'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
