@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-pills .nav-link.active {
    background-color: #8080d8;
}

.nav-link {
    color: black;
}

#dropdownTabNav .nav-link {
    color: white;
}

.content-height {
    min-height: calc(100vh - 90px);
    max-height:max-content;
}
